<h1>Zenith</h1>
<% if (currentUser) { %>
<h2>Welcome, <%= currentUser.firstName %> <%= currentUser.lastName%>!</h2>
<form method="post">
	<button formaction="/auth/logout">
		Logout
	</button>
</form>
<form method="get">
	<button formaction="/product/all">
		View Products
	</button>
	<button formaction="/category/all">
		View Categories
	</button>
</form>
<% } else {%>
<form method="get">
	<button formaction="/auth/register">
		Register
	</button>
	<button formaction="/auth/login">
		Login
	</button>
</form>
<% } %>