<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Product</title>
</head>

<body>
	<form method="get">
		<button formaction="/product/all">Go Back</button>
	</form>
	<h1>Create Product</h1>
	<form action="/product/create" method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name">
		<label for="description">Description</label>
		<input type="text" name="description" id="description">
		<label for="price">Price</label>
		<input type="number" name="price" step="any" id="price">
		<label for="stock">Stock</label>
		<input type="number" name="stock" id="stock">
		<label for="category">Category</label>
		<input type="text" name="category" id="category">
		<button type="submit">Create</button>
	</form>
</body>

</html>