<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
</head>

<body>
	<form action="/auth/register" method="post">
		<h1>Register</h1>
		<label for="firstName">First Name: </label>
		<input type="text" name="firstName" id="firstName" required>
		<label for="lastName">Last Name: </label>
		<input type="text" name="lastName" id="lastName" required>
		<label for="email">Email: </label>
		<input type="email" name="email" id="email" required>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password" required>
		<label for="password2">Confirm Password: </label>
		<input type="password" name="password2" id="password2" required>
		<button type="submit">Register</button>
	</form>
</body>

</html>